#page.container_12
  #header.grid_12
    XQuery VAMP Archive
  #search.grid_12
    %form{:action => '/search', :method => :post}
      %textarea{:name => 'qu'}
        = default_search
      %button{:type => 'submit'}
        search
  .clear
  #content.grid_12
    - if @resource
      Result: 
      = link_to search_url(@query.hash, :format => :xml), search_url(@query.hash, :format => :xml)
      %textarea{:name => 'qu', :style => 'width:80em;height:30em'}
        =raw @resource
      .clear
