#page.container_12
  #header.grid_12
    XQuery VAMP Archive
  #search.grid_12
    %form{:action => '/search', :method => :post}
      %textarea{:name => 'qu'}
        = default_search
      %button{:type => 'submit'}
        search
  #content.grid_12
    =raw @response
  .clear
